<section class="feed">
          <div class="container" data-infinite-scroll='{ "path": ".pagination__link--next", "append": ".article", "history": false }'>
              {{ $paginator := .Paginate (where .Data.Pages ".Params.featured" "!=" true) }}
                {{ range $paginator.Pages }}
                  <div class="row feed-row">
                      <div class="col-6 col-lg-2 coin-title">
                          <a href="{{ .Permalink }}">
                            <figure>
                              <img class="img-fluid" src="{{ .Params.featured_image }}"></img>
                            </figure>
                          </a>

                      </div>
                      <div class="col-6 col-lg-2 coin-info">
                        <h6 class="title"><a href="{{ .Permalink }}">{{ .Params.coin }}</a></h6>
                          <p>${{ .Params.coin_price }}</p>
                          <p>{{ .Params.coin_price_change }}%</p>
                          <div class="coin-links">
                            <a class="social-links" href="https://twitter.com/?lang=en"><i class="fas fa-globe-americas"></i></a>
                            <a class="social-links" href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                          </div>
                      </div>
                      <div class="col-lg-8 article-info">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>{{ .Params.description }}</p>
                        <ul class="feed-tags">
                          {{ range .Params.tags }}
                            <li><a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a> </li>
                          {{ end }}
                        </ul>
                      </div>
                    </div>
                    <hr></hr>
                {{ end }}
                <div class="col-12">
                  {{ if $paginator.HasNext }}
                      <a href="{{ $paginator.Next.URL }}" class="pagination__link--next">
                      </a>
                  {{ end }}
                </div>
          </div>
</section>
